body {
  padding: 15px 25px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
}

.card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.card-title {
  border-bottom: 1px solid black;
  font-size: 3em;
  font-weight: bold;
}

.card-body {
  padding: 5px;
}

.btn-add {
  width: 25%;
  margin: auto;
}
